* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.hero {
  width: 562px;
  margin: 0 auto 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero img {
  margin-bottom: 72px;
}

h1 {
  font-size: 3rem;
  line-height: 56px;
  font-weight: normal;
  padding: 1rem;
  margin-bottom: 2rem;
}

h1 span {
  font-weight: 700;
}

span,
a {
  color: #ff9900;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

footer a + a {
  margin-left: 28px;
  font-size: 14px;
  line-height: 28px;
}

.line {
  width: 568px;
  height: 0px;

  margin: 0 auto 8px;
  border: 1px solid #ECEFF2; 
}


#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}